li {
  list-style-type: none;
  cursor:pointer;
}

.g-login {
  /*原来的*/
 /* margin: 60px auto;
  width: 600px;
  background: #666;
  border: 1px solid #ccc;*/
      background: #666;
    padding: 0;
  width: 600px;
  height: 280px;
  margin: 50px auto;

}
.m-login-wrap {
  display: flex;
  background: #eee;
    height: 100%;
    margin-top: 100px;
}
.m-login-logo {
  flex: 3;
  background: url('static/bw-1.png');
  background-size: 100% 108%;
}
.g-login .row {
  padding: 15px;
  
}

.g-login .row input {
  height: 34px;
  width: 100%;
  overflow: hidden;
  padding: 3px 6px;
  color: #333;
  text-align: left;
  background: #fff;
  font-size: 17px;
  border-top: 1px solid silver;
  box-shadow: 0 2px 9px -1px #d9d9d9;
  border: 1px solid #d9d9d9;
}

.m-login-fotter {
  padding: 10px;
}

.m-login-fotter li{
  float: right;
  margin: 5px 10px;
  font-size: 14px;
  color: #666;
}

.g-login .row button {
  font-size: 16px;
  border-radius: 2px;
  width: 100%;
  background-color: #DC143C;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  height: 36px;
  line-height: 31px;
  padding: 0 8px;
  text-align: center;
  outline: none;
}


